/*
*
* @file _setting.scss
* Setting for styling page
* - fonts
* - colors
* -
*/
$width_page: 1600px;
$width_container:1180px;
$text_color_white: #ffffff;
$header_button_bg_color: #7accc8;
$I_could_bg: #5b6869;
$try_demo_color: #9197a8;
$try_demo_center: #ecf0f3;
$try_demo_button: #f69679;
$so_flat: #f6f6f4;
$so_flat_color-div: #e8b968;
$so_flat_big_color: #9197a8;
$so_flat_big_border: #eaeaea;
$so_flat_color: #abbcc3;
$footer_bg:#7accc8;
$i_could_bg: #5b6869;
$font_Lato_light: Lato-Lig;
$font_Lato_ital: Lato-LigIta;
$font_Lato_reg: Lato-Reg;
$font_Lato_bold: Lato-Bol;
$font_Helvetica: HelveticaNeue-CondencedObl;
$font_Qucksand_bold: Quicksand_Bold;
$font_Lato_60: 60px;
$font_Lato_55: 55px;
$font_Lato_45: 45px;
$font_Lato_43: 43px;
$font_size_35: 35px;
$font_Lato_22: 22px;
$font_Lato_18: 18px;
$font_Lato_17: 17px;
$font_Lato_16: 16px;
$font_Lato_15: 15px;
$font_Helvetica_14: 14px;
$font_Lato_12: 12px;